<strong>Olá, {{ courier }}</strong>
<p>Há uma nova entrega para você realizar</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Encomenda: </strong>Nº {{ order_id }} <br/>
  <br/>
  <strong>O produto já está disponível para a retirada.</strong>
</p>
